body {
    margin: 0;
    display: block;
    overflow: hidden;
    background-color: navajowhite;
}

a {
    color: grey;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
}

ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    flex: 1;
    margin-right: 5vw;
    margin-top: 2vw;
    display: flex;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    background: rgba(100, 127, 127, 0.75);
}

a {
    margin: 1vw;
    text-decoration: none;
    color: white;
}


.outer {
    margin: 10px;
    border-radius: 10px;
    height: calc(100vh - 20px);
    background: beige url("icons/computer-10.png") no-repeat right;
}

.inner {
    margin: 10px;
}

.line {
    display: flex;
}

.header {
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.header_text {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
}

.content_text {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3vh;
}