body {
    position: fixed;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0;
    width: calc(100% - 20vw);
    background-color: teal;
    user-select: none;
}

a {
    text-decoration: none !important;
}

a.visit-card-content-skill-elem {
    transition: 0.5s;
    margin: 8px;
    border-radius: 10px;
    background-color: grey;
}

a.visit-card-content-skill-elem:hover {
    transition: 0.125s;
    background-color: teal;
}

h1 {
    font-size: 4vh;
}

div#visit-card {
    transition: 0.5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5vw;
    background-color: beige;
    box-shadow: 0 0 20px 0 whitesmoke;
}

div#visit-card:hover {
    transition: 0.125s;
    width: 99%;
    margin-left: 0.5%;
    box-shadow: 0 0 20px 0 black;
}

div#visit-card-cap {
    margin-left: 8%;
    margin-right: 8%;
    border-bottom-left-radius: 7vh;
    border-bottom-right-radius: 7vh;
    background-color: grey;
    text-align: center;
}

#visit-card-cap-text {
    transition: 0.5s;
    color: beige;
}

#visit-card-cap-text:hover {
    transition: 0.125s;
    color: teal;
}

div#visit-card-content {
    margin-left: 8%;
    margin-right: 8%;
}

div#visit-card-content-skill-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.visit-card-content-elem-cap-text {
    color: grey;
}

.visit-card-content-skill-elem-text {
    color: beige;
    margin: 12px;
}

svg.icon {
    transition: 0.5s;
    height: 8vh;
    width: 8vh;
}

svg.icon:hover {
    transition: 0.125s;
    stroke: teal;
}

@media screen and (orientation: portrait) {
    h1 {
        font-size: 6vw;
    }

    div#visit-card-content-skill-list {
        justify-content: center;
    }

    svg.icon {
        height: 8vw;
        width: 8vw;
    }
}
