body {
    background-color: black;
    display: block;
}

.layout {
    font-family: monospace;
    background-color: transparent;
    color: #3939BF;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #3939BF;
}